<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMM72"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://idc-app-dv3-114.thaiunion.co.th:8089/WS/IGRID/MM72.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMM72" contract="ServiceReference1.IMM72" name="BasicHttpBinding_IMM72"/>
    </client>
  </system.serviceModel>
  <appSettings>
  <add key="WebReference.ServiceCS" value="http://192.168.1.212/WebService_jQuery_Ajax/ServiceCS.asmx"/>
  </appSettings>
</configuration>