<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="constr" connectionString="Data Source=192.168.1.185;Initial Catalog=CostingDb;User ID=artworkadm;Password=P@ssw0rd123*" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="WSETest.localhost.BusinessService" value="http://idc-app-dv3-114.thaiunion.co.th:8089/WS/IGRID/MM72.svc"/>
  </appSettings>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.0"/>
    <pages validateRequest="false" />
    <httpRuntime requestValidationMode="2.0" maxRequestLength="1048576" executionTimeout="3600" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ITwoWayAsync" sendTimeout="00:04:00">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_ITwoWayAsync1" sendTimeout="00:04:00">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://edi-eu-prod.thaiunion.com/BizTalkWcfService/MM72.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITwoWayAsync"
        contract="myService.MM72" name="WSHttpBinding_ITwoWayAsync" />
      <endpoint address="http://edi-eu-prod.thaiunion.com/BizTalkWcfService/MM73.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITwoWayAsync1"
        contract="ServiceReference.MM73" name="WSHttpBinding_ITwoWayAsync1" />
    </client>
  </system.serviceModel>
</configuration>